@charset "UTF-8";
/* CSS Document */

* {
  	box-sizing: border-box;
	margin:0;

}


@font-face {
    font-family: times;
    src: url("TYPEFACES/Times New Roman.ttf");
}


@font-face {
    font-family: timesitalic;
    src: url("TYPEFACES/Times New Roman Italic.ttf");
}


@font-face {
    font-family: timesbold;
    src: url("TYPEFACES/Times New Roman Bold.ttf");
}


@font-face {
    font-family: timesbolditalic;
    src: url("TYPEFACES/Times New Roman Bold Italic.ttf");
}


@font-face {
    font-family: mirra;
    src: url("TYPEFACES/Mirra.otf");
	font-weight: lighter;
}

body.loading {
    overflow: hidden;

}

header {
	display: block;
    margin: auto;
    width: 100%;
    padding-top: 1.75%;
	padding-bottom: 1.5%;
	position: fixed;
	background-color: #e3e1e1;
	z-index: 6;
}


#logo {
	display: block;
	margin: auto;
	width: 95.5%;
}



.desktop_menu ul {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;        /* Centers the inline-block children */
  list-style: none;          /* Removes bullet points */
  padding-top: 1%;
  padding-bottom: 1%;               /* Removes padding */
  background-color: #e3e1e1;
}

.desktop_menu li {
  display: inline-block;     /* Forces items onto a single horizontal line */
}

.desktop_menu a {
  display: block;            /* Makes the whole padding area clickable */
  padding: 10px 20px;        /* Adds space around the text */
  text-decoration: none;     /* Removes underline */
  font-family: 'times';
  font-size: 33px;
  letter-spacing: 1px;
}


	
.desktop_menu a:hover {
    font-style: italic;
}
	
.desktop_menu_item:active {
    font-style: italic;
}
	

.mobile_logo {
	display: none;
}


.mobile_menu {
	display: none;
}


.menu_container {
     display: none;
	 background-color: #F2F0EF;
}


.close_button {
	 display: none;
    }


.mobile_items {
     display: none;
}

.menu_item {
	display: none;
}

	
.exit {
	display: none;
}

.header {
	display: block;
	margin: auto;
	width: 7%;
	padding-bottom: 1.5%;

}    

.img_row {
	margin: auto;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 14%;
}


.row_content {
	width: 25%;
}


.img_box{
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding-left: 1%;
	padding-right: 1%;
	opacity: 0;
    animation: fadeIn 1.25s ease-in-out forwards;
}

.row_content:nth-child(1) .img_box { animation-delay: 0s; }
.row_content:nth-child(2) .img_box { animation-delay: 0.75s; }
.row_content:nth-child(3) .img_box { animation-delay: 1.5s; }
.row_content:nth-child(4) .img_box { animation-delay: 2.25s; }



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.desktop_bio {
	margin: auto;
	width: 100%;
	background-color: #F2F0EF;
}


.desktop_about {
	width: 50%;
	margin: auto;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 8%;
	padding-bottom: 8%;
	z-index: 2;
	background-color: #F2F0EF;
}


.desktop_text {
	font-family: 'times';
    font-weight: 400; 
    font-style: normal;
    font-size: 23px;
	letter-spacing: 0.3px;
	line-height: 33px;
	text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.04em;
	font-variant-ligatures: common-ligatures;
	z-index: 1;
	cursor: default;
}


a {
	font-family: 'times';
    font-weight: 400; 
    font-style: normal;
	text-decoration-line: none;
	letter-spacing: 0.25px;
	color: black;
}


a:hover {
	font-family: 'timesitalic';
}


.desktop_large_link {
    font-size: 23px;
	line-height: 33px;
	color: black;
}


.small_link{
	font-size: 15px;
}


.desktop_reel_container {
	margin: auto;
	width: 100%;
}


.desktop_reel {
	margin: auto;
	width: 75%;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #F2F0EF;
}


video {
	margin: auto;
	width: 100%;
	cursor: pointer;
}


.desktop_headshot_gallery {
	width: 100%;
	margin: auto;
	padding-top: 15%;
	padding-bottom: 15%;
	background-color: #F2F0EF;
}


.desktop_feature_image {
  width: 50%;
  margin: auto;
  padding-right: 0.8%;
  padding-left: 0.8%;
}


/* Hide the images by default */
.mySlides {
}


.desktop_arrows{
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.desktop_prev{
  cursor: pointer;
  font-size: 23px;
  text-align: left;
  width: 50%;
  user-select: none;
  -webkit-user-select: none;
}

.desktop_next {
  cursor: pointer;
  text-align: right;
  width: 50%;
  font-size: 23px;
  user-select: none;
  -webkit-user-select: none;
}


.desktop_gallery {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 2%;
	padding-right: 2%;
}


.half_img {
	position: relative;
	width: 50%;
	padding-right: 0.25%;
	padding-left: 0.25%;
	padding-bottom: 0.25%;
	padding-top: 0.25%;
}


.half_img_content{
	width: 100%;
	height: 100%;
}


.quarter_img {
	width: 25%;
	position: relative;
	padding-right: 0.25%;
	padding-left: 0.25%;
	padding-bottom: 0.25%;
	padding-top: 0.25%;
}


.quarter_img_content{
	width: 100%;
	height: 100%;
}


.half_overlay {
  position: absolute; 
  z-index: 3;
  bottom: 0; 
  opacity:0;
  width: 50%;
  height: 100%;
  transition: .5s ease;
  color: white;
  text-align: center;
  font-family: 'times';
  font-weight: 400; 
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.75px;
  line-height: 17px;
  padding-top: 35%;
  cursor: default;
}


.half_overlay:hover {
	opacity: 1;
	background-color: black;
	
}


.quarter_overlay {
 position: absolute; 
  z-index: 3;
  bottom: 0; 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  text-align: center;
  font-family: 'times';
  font-weight: 400; 
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.75px;
  line-height: 17px;
  cursor: default;
  padding-top: 70.5%;
}

.quarter_overlay:hover {
	opacity: 1;
}

.photo_credit {
  text-align: center;
  font-family: 'timesitalic';
  font-weight: 400; 
  font-style: normal;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.75px;
  color: white;

}



.desktop_contact_container {
	width: 100%;
	margin: auto;
	padding-top: 15%;
	padding-bottom: 15%;
	cursor: default;
	text-align: center;
	background-color: #F2F0EF;
}



.desktop_contact_info {
	text-align: center;
	font-family: 'times';
    font-weight: 400; 
    font-style: normal;
    font-size: 23px;
	letter-spacing: 1px;
	line-height: 33px;
	color: white;
}


.desktop_socials {
	margin: auto;
	width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-top: 3.5%;
}


.desktop_social_icon {
	width: 33.3%;
}


.desktop_imdb {
	width: 70%;
	height: 70%;
}


.fa-brands {
	top: 0;
	font-size: 40px;
	color: black;
}


.desktop_copyright {
	width: 100%;
	background-color: black;
    font-size: 15px;
	text-align: center;
	padding-top: 3.5%;
	padding-bottom: 3.5%;
}


.resume {
	margin: auto;
	height: 50%;
	width: 50%;
}

footer {
	display: flex;
	flex-direction: row;
    margin: auto;
    width: 100%;
    padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 1%;
	bottom: 0;
  	right: 0;
	z-index: 6;
	font-family: 'mirra';
    font-style: normal;
    font-size: 27px;
	letter-spacing: 1px;
	cursor: default;
	background-color: #DCDCDC;
}


.left_socials{
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 20%;
	background-color: #DCDCDC;
  	border-radius: 50px;
}


.right_lang{
	display: flex;
	flex-direction: row;
	width: 50%;
	background-color: #DCDCDC;
	text-align: right;
}


@media only screen and (max-width : 1500px){

	
}



@media only screen and (max-width : 800px){


	
}


@media only screen and (max-width: 450px) {

	
header {
	 padding-top: 5%;
	 padding-left: 5%;
	 padding-right: 5%;
	 padding-bottom: 5%;
	 background-color: #DCDCDC;
}	
	

.mobile_logo {
	margin: auto;
	display: block;
	width: 100%;
}


#logo {
	display: none;
}
	
	
.bottom_navigation {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: fixed;
	bottom: 0;
	padding-top: 4.5%;
	padding-bottom: 4.5%;
	background-color: #DCDCDC;
}	
	
.mobile_menu {
    display: block;
	width: 100%;
	text-align: center;
	bottom: 0;
	font-family: 'mirra';
    font-style: normal;
    font-size: 50px;
	line-height: 40px;
}


.menu_container {
   position: fixed;
   top: 0;
   z-index: 8;
   height: 100vh;
   width: 100vw;
   background-color: #DCDCDC;
}

	
.close_button {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  display: block;
  z-index: 20;
  padding-top: 6%;
  padding-right: 5%;
}

	
.exit {
	display: block;
	text-align: right;
	font-family: 'mirra';
    font-style: normal;
    font-size: 50px;
	line-height: 40px;
}
	

.mobile_items {
	width: 100%;
	position: absolute;
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 50%;
	padding-bottom: 50%; 
  
}

	
.menu_item {
	display: block;
	font-family: 'mirra';
    font-style: normal;
    font-size: 75px;
	line-height: 80px;
	letter-spacing: 2px;
}

	
.menu_item:hover {
	display: block;
	font-family: 'mirra';
    font-style: normal;
    font-size: 75px;
	line-height: 80px;
	letter-spacing: 2px;
}
	
.menu_item:active {
	display: block;
	font-family: 'mirra';
    font-style: normal;
    font-size: 75px;
	line-height: 80px;
	letter-spacing: 2px;
}
	

.img_row {
	display: flex;
	flex-wrap: wrap;
 width: 100%;
  position: absolute;
  margin: auto;
  padding-left: 4.25%;
  padding-right: 4.25%;
  padding-top: 0%;
  top: 50%;
  transform: translate(0, -50%);
}


.row_content {
	width: 50%;
}


.img_content{
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-bottom: 1.5%;
}


.img_content_2{
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-bottom: 1.5%;
}


.img_content_3{
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-top: 1.5%;
}


.img_content_4{
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-top: 1.5%;
}


.desktop_bio {
		display: none;
}	
	
	
.desktop_about {
		display: none;
}	
	
	
.desktop_header {
		display: none;
}	
	
	
.desktop_text {
		display: none;
}	

.mobile_reel_container {
  display: block;
	margin: auto;
	padding-left: 0%;
   padding-right: 0%;
}
	
	
.mobile_reel {
	display: block;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

	
.mobile_feature_image {
  display: block;
  width: 100%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
}
	
	
.mobile_bio {
	display: block;
	padding-top: 0%;
	margin: auto;
	width: 100%;
}

.mobile_about {
	display: block;
	width: 90%;
	margin: auto;
}


.mobile_header {
	font-family: 'mirra';
    font-style: normal;
    font-size: 50px;
	letter-spacing: 4px;
	padding-bottom: 1.5%;
	text-align: center;
}


.mobile_text {
	font-family: 'times';
    font-weight: 400; 
    font-style: normal;
    font-size: 19px;
	line-height: 25px;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.04em;
	font-variant-ligatures: common-ligatures;
	cursor: default;
}


.mobile_large_link {
    font-size: 19px;
	line-height: 25px;
}


.mobile_small_link{
	font-size: 13px;
}

	
.mobile_contact {
	font-family: 'times';
    font-weight: 400; 
    font-style: normal;
    font-size: 19px;
	line-height: 25px;
    text-align: center;
}
	
	
.mobile_socials {
	margin: auto;
	display: flex;
	flex-direction: row;
	width: 70%;
	padding-bottom: 5%;
}
	

.mobile_social_icon {
	display: block;
	width: 33.3%;
	text-align: center;
	font-size: 30px;
}


.mobile_imdb {
	display: block;
	width: 55%;
	height: 55%;
	margin: auto;
	padding-top: 2%;
}
	

.desktop_reel_container {
	display: none;
	margin: auto;
	padding-left: 3.7%;
	padding-right: 3.8%;
}
	
	
.desktop_reel {
	display: none;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}



.desktop_headshot_gallery {
	display: none;
	padding-top: 19%;
	padding-bottom: 19%;
	padding-left: 3.7%;
	padding-right: 3.8%;
}


.desktop_feature_image {
  display: none;
  width: 100%;
  margin: auto;
  padding-left: 0%;
  padding-right: 0%;
}


	
	
.mobile_gallery {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 4.25%;
	padding-right: 4.25%;
	padding-top: 0%;
}


.desktop_gallery {
	display: none;
	padding-left: 3%;
	padding-right: 3%;
}


.half_img {
	width: 50%;
	padding-right: 0.8%;
	padding-left: 0.8%;
	padding-bottom: 0.8%;
	padding-top: 0.8%;
}
	
	
	
.full_img {
	width: 100%;
	padding-right: 0.8%;
	padding-left: 0.8%;
	padding-bottom: 0.8%;
	padding-top: 0.8%;
}


.full_img_content{
	width: 100%;
	height: 100%;
}
	
	
.quarter_img {
	width: 25%;
	padding-right: 0.8%;
	padding-left: 0.8%;
	padding-bottom: 0.8%;
	padding-top: 0.8%;
}


.half_overlay {
  display: none;
  font-size: 7px;
  line-height: 7px;
  padding-bottom: 7.5%;
  letter-spacing: 0.5px;
}


.quarter_overlay {
  display: none;
  font-size: 7px;
  line-height: 7px;
  padding-bottom: 10%;
  letter-spacing: 0.5px;
}


.photo_credit {
  display: none;
  font-size: 5px;
  line-height: 7px;
  letter-spacing: 0.25px;
}


.half_img:active .half_overlay {
  display: none;
  opacity: 1;
}


.quarter_img:active .quarter_overlay {
  display: none;
  opacity: 1;
}


.desktop_contact_container {
	display: none;
	padding-top: 19%;
	padding-bottom: 19%;
}


.desktop_socials {
	display: none;
	width: 80%;
	padding-top: 7%;
}


.desktop_social_icon {
	display: none;
	width: 33.3%;
}


.desktop_imdb {
	display: none;
	width: 60%;
	height: 60%;
}


.fa-brands {
	display: none;
	top: 0;
	font-size: 30px;
	color: black;
}


.desktop_copyright {
   display: none;
}

.mobile_copyright {
	display: block;
	width: 100%;
  text-align: center;
	font-family: 'times';
    font-weight: 400; 
    font-style: normal;
	font-size: 13px;
	text-decoration-line: none;
	letter-spacing: 0.25px;
	color: black;
	
}


}

    
   

